{% extends widget.get_base_template %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}
{% load applicationcontent_tags %}

{% fragment request "_page_title" %}
{% block page_title %}
    {{ title }}
{% endblock %}
{% endfragment %}

{% fragment request "_breadcrumbs" %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'accounts:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'accounts:accounts-list' %}">{% trans "Accounts" %}</a>
        <span class="divider">/</span>
    </li>
    {% if account %}
        <li>
            <a href="{% url 'accounts:accounts-detail' account.id %}">{{ account }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Update" %}</li>
    {% else %}
        <li class="active">{% trans "Create" %}</li>
    {% endif %}
</ul>
{% endblock %}
{% endfragment %}

{% block content %}

    {% if account %}
        {% include 'accounts/dashboard/partials/account_detail.html' %}
        <h2>{% trans "Edit this account" %}</h2>
    {% endif %}

    <form class="form-stacked" action="." method="post">
        {% csrf_token %}
        <span class="help-block">{{ form.non_field_errors }}</span>
        {% include 'partials/form_field.html' with field=form.name %}
        {% include 'partials/form_field.html' with field=form.description %}
        {% if form.account_type %}
            {% include 'partials/form_field.html' with field=form.account_type %}
        {% endif %}

        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">{% trans "Save" %}</button>
            {% trans "or" %}
            <a href="{% url 'accounts:accounts-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>

<script type="text/javascript">
$( document ).ready(function() {
    $('a.form-toggle').click(function(){
        $($(this)[0].parentNode.nextElementSibling).toggle();
        // Bind datepicker
        oscar.dashboard.init();
        return false;
    });
});    
</script>
{% endblock content %}

